<?php
	//获取网站配置信息
	$config = D("Basic")->select();
	//获取前端导航页面
	$barMenus = D("Menu")->getBarMenus();
?>

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <!-- 网站配置信息的填充 -->
  <title>{$config.title}</title>
  <meta name="keywords" content="{$config.keywords}">
  <meta name="description" content="{$config.description}">
  
  <link rel="stylesheet" href="/Public/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Public/css/home/main.css" type="text/css" />
</head>
<body>
<header id="header">
  <div class="navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="/">
          <img src="/Public/images/logo.png" alt="">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/" <if condition="$result['catId'] eq 0">class="curr"</if>>首页</a></li>
		
		<foreach name="barMenus" item="barMenu">
        	<li><a href="/index.php?c=cat&id={$barMenu.menu_id}" <if condition="$barMenu['menu_id'] eq $result['catId']">class="curr"</if>>{$barMenu.name}</a></li>
		</foreach>
      
      </ul>
    </div>
  </div>
</header>