      <div class="col-sm-3 col-md-3">
        <div class="right-title">
          <h3>文章排行</h3>
          <span>TOP ARTICLES</span>
        </div>
        
        <div class="right-content">
          <ul>

	            <volist name="result['topCount']" id="vo" key="k">
	      		<li class="num{$k} curr">
	        		<a target="_blank" href="/index.php?c=detail&id={$vo.news_id}">{$vo.title}</a>
	        	
	        	<!--数组中是0 但是索引出来是1  -->
	        	<if condition="$k eq 1"><div class="intro">{$vo.description}</div></if>
	      		</li>
	      		</volist>
          
          </ul>
        </div>
        
       <!--  <div class="right-hot">
          <img src="/Public/images/img5.jpg" alt="">
        </div>
        <div class="right-hot">
          <img src="/Public/images/img6.jpg" alt="">
        </div> -->
      </div>